@charset "UTF-8";
body{
	margin: 0;
	padding: 0;
}
.nakksi{
	height: max-content;;
	width: 1920px;

}
.easter_main{
	height: 1111px;
	width: 1920px;
	display: inline-block;
	animation : example 1s linear infinite;
	position: relative;
}
button{
	border:none;
	outline: none;
	box-shadow: none;
	background-color: white;
}
button:focus,
button:active {
	border:none;
  outline: none;
  box-shadow: none;
}
.hurricain{
	padding-left: 100px;
	padding-top : 100px;
	display:inline;
	position: absolute;
}
.hios{
	width: 500px;
	height: 500px;
	animation : rotate_image 0.5s linear infinite;transform-origin:50% 50%;
}

@keyframes example {
	0%{background-color: hotpink;}
	16%{background-color: red;}
	32%{background-color: orange;}
	49%{background-color: yellow;}
	55%{background-color: green;}
	71%{background-color: blue;}
	86%{background-color: darkblue;}
	100%{background-color: purple;}
	
}
@keyframes rotate_image{
	100% { 
	transform: rotate(360deg); 
	} 
}
@keyframes moving{
	0%{
	 transform: translateY(200px);
	}
	30%{
		 transform: translateY(0px);
	}
}
.traiser{
	margin-left: 33%;
	display: block;
	 margin-top :620px;
}
.bonobono{
	position: relative;
	left:1300px;
	margin-top: 100px;
}
.bonobono img{
	position: absolute;
}
.sun{
	width:420px;
	height: 100px;
	margin-top: 100px;
	animation: moving 3s linear infinite;
}

